/** prototype**/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

*,
::after,
::before {
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0px;
    color: #666;
}

a {
    text-decoration: none;
}

.container {
    width: 100%;
    padding: 0px 15px;
    margin: 0px auto;
}

.row {
    display: flex;
    flex-flow: row wrap;
    margin: 0 -15px;
}

.col {
    padding: 0px 15px;
}

.col-3 {
    padding: 0px 15px;
    flex-basis: 25%;
}

.col-4 {
    padding: 0px 15px;
    flex-basis: 33.33333%;
}

.col-6 {
    padding: 0px 15px;
    flex-basis: 50%;
}

.text-primary {
    color: #39c9da;
}

.text-white {
    color: #fff;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-center {
    text-align: center;
}

.bg-color {
    background-color: #39c9da;
}

.btn {
    padding: 10px 20px;
    border: none;
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.btn-lg {
    padding: 17px 40px;

}

.btn-primary {
    background-color: #39c9da;
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
}

.d-flex {
    display: flex;
}

.pad-70 {
    padding: 70px 0px;
}

/** Header part start**/

header {
    background-image: url(../images/back.png);
    height: 625px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.logo {
    font-size: 30px;
}

.header-wrap {
    padding-top: 50px;
    justify-content: space-between;
}

.navber {
    list-style-type: none;
    justify-content: space-between;
    width: 550px;
}

.navber li a {
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
}

.banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.banner-text h2 {
    font-size: 36px;
    margin-bottom: 40px;
}

/** About us start **/
.section-header {
    text-align: center;
    margin-bottom: 60px;
}

.section-header h2 {
    font-size: 30px;
    margin-bottom: 15px;
}

.section-header p {
    max-width: 600px;
    margin: 0 auto;
}

.about-us-image img {
    width: 100%;
    max-width: 100%;
    display: block;
}

.border-after {
    font-size: 17px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    position: relative;
}

.border-after::after {
    content: "";
    position: absolute;
    width: 120px;
    height: 3px;
    background-color: #39c9da;
    bottom: 0;
    left: 0;
}

.about-us-text p {
    margin-bottom: 30px;
}

/** Portfolio start**/
.portfolio-wrapper {
    background-color: #e4e4e4;
}

.port-item {
    background-color: #fff;
    border: 1px solid #999;
    margin-bottom: 30px;
}

.port-text {
    padding: 15px;
    justify-content: space-between;
}

.port-img {
    position: relative;
}

.port-img img {
    display: block;
    max-width: 100%;
    width: 100%;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 0%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.port-item:hover .overlay {
    height: 100%;
}

.btn-readmore {
    border: 1px solid #fff;
    background-color: transparent;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    visibility: hidden;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transition: 0.3;
    -webkit-transition: 0.3;
    -moz-transition: 0.3;
    -ms-transition: 0.3;
    -o-transition: 0.3;
}

.port-item:hover .btn-readmore {
    visibility: visible;
}

/** Services Start **/
.service-item {
    text-align: center;
    border: 1px solid #ddd;
    padding: 30px 15px;
    transition: 0.7s;
    -webkit-transition: 0.7s;
    -moz-transition: 0.7s;
    -ms-transition: 0.7s;
    -o-transition: 0.7s;
}

.service-desc {
    margin-bottom: 20px;
}

.icon i {
    color: #39c9da;
    font-size: 50px;
}

.service-after {
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    text-transform: uppercase;
    font-size: 20px;
}

.service-after::after {
    content: "";
    position: absolute;
    width: 100px;
    height: 3px;
    background-color: #aaa;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.btn-readmore-black {
    background-color: #444;
    color: #fff;
}

.service-item:hover {
    background-color: #39c9da;
}

.service-item:hover .service-after,
.service-item:hover .icon i,
.service-item:hover .service-desc {
    color: #fff;
}

.service-item:hover .btn-readmore-black {
    background-color: #fff;
    color: #000;
}